@font-face {
  font-family: 'iconfont';
  src: url('./iconfont.woff2') format('woff2'), url('./iconfont.woff') format('woff'),
    url('./iconfont.ttf') format('truetype'),
    url('//at.alicdn.com/t/c/font_4006213_fa0s2dtadxr.svg?t=1713837957693#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-file-edit-line:before {
  content: '\e9df';
}

.icon-image-edit-line:before {
  content: '\e64f';
}

.icon-megaphone-line:before {
  content: '\e9de';
}

.icon-brush-2-line:before {
  content: '\e64e';
}

.icon-forbid-line:before {
  content: '\e64c';
}

.icon-checkbox-circle-line1:before {
  content: '\e64d';
}

.icon-a-facerecognition-scan-line:before {
  content: '\e64b';
}

.icon-links-line:before {
  content: '\e64a';
}

.icon-a-Identifyrecords-line:before {
  content: '\e649';
}

.icon-Screen1-fill:before {
  content: '\e647';
}

.icon-trend-fill:before {
  content: '\e620';
}

.icon-Screen9-fill:before {
  content: '\e646';
}

.icon-Screen4-fill:before {
  content: '\e648';
}

.icon-file-list-3-line:before {
  content: '\e61f';
}

.icon-a-straightline:before {
  content: '\e61a';
}

.icon-shape-fill:before {
  content: '\e618';
}

.icon-a-shujuku_jurassic2:before {
  content: '\e9dc';
}

.icon-a-bg-model21:before {
  content: '\e9dd';
}

.icon-chunjing03:before {
  content: '\e63f';
}

.icon-chunjing02:before {
  content: '\e63c';
}

.icon-attachment-2:before {
  content: '\e63d';
}

.icon-file-paper-2-line:before {
  content: '\e9d9';
}

.icon-movie-2-line:before {
  content: '\e9da';
}

.icon-attachment-line1:before {
  content: '\e9db';
}

.icon-loop-left-fill:before {
  content: '\e643';
}

.icon-delete-bin-7-line:before {
  content: '\e644';
}

.icon-delete-bin-7-fill:before {
  content: '\e645';
}

.icon-attachment-line:before {
  content: '\e9d8';
}

.icon-mouse:before {
  content: '\e642';
}

.icon-sealgou:before {
  content: '\e640';
}

.icon-seal1:before {
  content: '\e641';
}

.icon-chilun:before {
  content: '\e639';
}

.icon-moban:before {
  content: '\e63a';
}

.icon-shexiangtou:before {
  content: '\e63b';
}

.icon-saomiao:before {
  content: '\e63e';
}

.icon-Subtract:before {
  content: '\e9d6';
}

.icon-pause-mini-fill:before {
  content: '\e9d7';
}

.icon-filter_9_FILL0_wght400_GRAD0_opsz24:before {
  content: '\e9d2';
}

.icon-filter_4_FILL0_wght400_GRAD0_opsz24:before {
  content: '\e9d3';
}

.icon-table_chart_view_FILL0_wght400_GRAD0_opsz24:before {
  content: '\e9d4';
}

.icon-looks_one_FILL0_wght400_GRAD0_opsz24:before {
  content: '\e9d5';
}

.icon-call_to_action:before {
  content: '\e9d1';
}

.icon-account-circle-line:before {
  content: '\e630';
}

.icon-pass-valid-line:before {
  content: '\e631';
}

.icon-survey-line:before {
  content: '\e632';
}

.icon-tasklist-line:before {
  content: '\e633';
}

.icon-file-user-line1:before {
  content: '\e634';
}

.icon-code-box-line:before {
  content: '\e635';
}

.icon-price-tag-3-line:before {
  content: '\e636';
}

.icon-contacts-line:before {
  content: '\e637';
}

.icon-book-open-line:before {
  content: '\e638';
}

.icon-file-copy-line1:before {
  content: '\e9d0';
}

.icon-menu-add-line:before {
  content: '\e9cf';
}

.icon-user-2-line:before {
  content: '\e9cd';
}

.icon-server-line:before {
  content: '\e9ce';
}

.icon-map-pin-5-line:before {
  content: '\e623';
}

.icon-history-line:before {
  content: '\e624';
}

.icon-calendar-check-line:before {
  content: '\e626';
}

.icon-briefcase-line:before {
  content: '\e628';
}

.icon-checkbox-multiple-line:before {
  content: '\e629';
}

.icon-seal:before {
  content: '\e62b';
}

.icon-upload-2-line1:before {
  content: '\e62c';
}

.icon-dossier-line:before {
  content: '\e62e';
}

.icon-numbers-line1:before {
  content: '\e621';
}

.icon-verified-badge-fill:before {
  content: '\e622';
}

.icon-logo-a:before {
  content: '\e616';
}

.icon-daping-fill:before {
  content: '\e9cc';
}

.icon-File:before {
  content: '\e9cb';
}

.icon-arrow-go-forward-line:before {
  content: '\e9ca';
}

.icon-a-Nine-screendisplay-fill:before {
  content: '\e60c';
}

.icon-a-Splitscreen-fill:before {
  content: '\e60d';
}

.icon-a-Sixteen-screendisplay-fill:before {
  content: '\e615';
}

.icon-folder-3-line:before {
  content: '\e9c9';
}

.icon-file-warning-line:before {
  content: '\e9c7';
}

.icon-file-warning-fill:before {
  content: '\e9c8';
}

.icon-alert-fill:before {
  content: '\e9c6';
}

.icon-delete-bin-6-fill1:before {
  content: '\e61c';
}

.icon-openscreen-line:before {
  content: '\e61d';
}

.icon-delete-bin-6-line:before {
  content: '\e61e';
}

.icon-a-Frame4:before {
  content: '\e61b';
}

.icon-Fengpin8-fill:before {
  content: '\e9c4';
}

.icon-Fengpin4-fill1:before {
  content: '\e9c5';
}

.icon-Fengpin1-3-line:before {
  content: '\e60b';
}

.icon-hourglass-fill:before {
  content: '\e617';
}

.icon-a-Singlescreen-fill:before {
  content: '\e625';
}

.icon-screenshot-2-fill:before {
  content: '\e627';
}

.icon-volume-mute-fill:before {
  content: '\e62a';
}

.icon-zoom-out-line1:before {
  content: '\e62d';
}

.icon-volume-up-fill:before {
  content: '\e62f';
}

.icon-DeleteOutlined:before {
  content: '\e604';
}

.icon-Monitoring-full:before {
  content: '\e606';
}

.icon-play-circle-line:before {
  content: '\e60a';
}

.icon-icon_monitor:before {
  content: '\e619';
}

.icon-back_hand:before {
  content: '\e9c1';
}

.icon-unzoom-in-line:before {
  content: '\e9c2';
}

.icon-back_Fist:before {
  content: '\e9c3';
}

.icon-broom:before {
  content: '\e9c0';
}

.icon-corsor-line:before {
  content: '\e9bf';
}

.icon-fullscreen-line:before {
  content: '\e9ad';
}

.icon-fullscreen-exit-line:before {
  content: '\e9ae';
}

.icon-tv-2-fill:before {
  content: '\e9af';
}

.icon-layout-masonry-line:before {
  content: '\e9b0';
}

.icon-list-check:before {
  content: '\e9b1';
}

.icon-video-add-fill:before {
  content: '\e9b2';
}

.icon-video-add-line:before {
  content: '\e9b3';
}

.icon-a-AIservice-line:before {
  content: '\e9b4';
}

.icon-Fengpin1-1-fill:before {
  content: '\e9b5';
}

.icon-Fengpin1-1-line:before {
  content: '\e9b6';
}

.icon-Fengpin1-line:before {
  content: '\e9b7';
}

.icon-Fengpin1-fill:before {
  content: '\e9b8';
}

.icon-Fengpin4-fill:before {
  content: '\e9b9';
}

.icon-Fengpin9-fill:before {
  content: '\e9ba';
}

.icon-fengpinHalf-line:before {
  content: '\e9bb';
}

.icon-Fengpin9-line:before {
  content: '\e9bc';
}

.icon-monitor-line:before {
  content: '\e9bd';
}

.icon-Fengpin4-line:before {
  content: '\e9be';
}

.icon-user-unfollow-line:before {
  content: '\e9ac';
}

.icon-wechat-fill:before {
  content: '\e9a6';
}

.icon-database-2-line:before {
  content: '\e9a2';
}

.icon-delete-bin-6-fill:before {
  content: '\e9a3';
}

.icon-Icon-Wrapper:before {
  content: '\e9a4';
}

.icon-prohibited-line:before {
  content: '\e9a5';
}

.icon-drag-line1:before {
  content: '\e9a7';
}

.icon-file-upload-line:before {
  content: '\e9a8';
}

.icon-Icon-Wrapper-1:before {
  content: '\e9a9';
}

.icon-file-transfer-line:before {
  content: '\e9aa';
}

.icon-a-bg-model2:before {
  content: '\e9ab';
}

.icon-Multilateral-line:before {
  content: '\e613';
}

.icon-Square-line:before {
  content: '\e614';
}

.icon-circle-line:before {
  content: '\e612';
}

.icon-point-line:before {
  content: '\e60f';
}

.icon-Dottedline-line:before {
  content: '\e610';
}

.icon-line-line:before {
  content: '\e611';
}

.icon-loader-4-fill:before {
  content: '\e60e';
}

.icon-arrow-down-rectangle:before {
  content: '\e65a';
}

.icon-arrow-down:before {
  content: '\e65b';
}

.icon-caret-down:before {
  content: '\e65c';
}

.icon-arrow-go-back-line:before {
  content: '\e99b';
}

.icon-algorithm-line:before {
  content: '\e99c';
}

.icon-upload-line:before {
  content: '\e99d';
}

.icon-wechat-2-line:before {
  content: '\e99e';
}

.icon-settings-6-line:before {
  content: '\e99f';
}

.icon-user-settings-line:before {
  content: '\e9a0';
}

.icon-drag-line:before {
  content: '\e9a1';
}

.icon-checkbox-circle-fill:before {
  content: '\e959';
}

.icon-close-circle-line:before {
  content: '\e95a';
}

.icon-checkbox-circle-line:before {
  content: '\e95b';
}

.icon-add-circle-line:before {
  content: '\e95c';
}

.icon-check-double-line:before {
  content: '\e95d';
}

.icon-close-circle-fill:before {
  content: '\e95e';
}

.icon-delete-back-2-fill:before {
  content: '\e95f';
}

.icon-delete-bin-line:before {
  content: '\e960';
}

.icon-error-warning-fill:before {
  content: '\e961';
}

.icon-download-cloud-line:before {
  content: '\e962';
}

.icon-download-cloud-fill:before {
  content: '\e963';
}

.icon-delete-bin-fill:before {
  content: '\e964';
}

.icon-delete-back-2-line:before {
  content: '\e965';
}

.icon-error-warning-line:before {
  content: '\e966';
}

.icon-download-2-line:before {
  content: '\e967';
}

.icon-eye-line:before {
  content: '\e968';
}

.icon-eye-off-line:before {
  content: '\e969';
}

.icon-eye-close-line:before {
  content: '\e96a';
}

.icon-filter-fill:before {
  content: '\e96b';
}

.icon-eye-off-fill:before {
  content: '\e96c';
}

.icon-eye-close-fill:before {
  content: '\e96d';
}

.icon-filter-line:before {
  content: '\e96e';
}

.icon-information-fill:before {
  content: '\e96f';
}

.icon-eye-fill:before {
  content: '\e970';
}

.icon-function-fill:before {
  content: '\e971';
}

.icon-indeterminate-circle-line:before {
  content: '\e972';
}

.icon-lock-line:before {
  content: '\e973';
}

.icon-function-line:before {
  content: '\e974';
}

.icon-lock-fill:before {
  content: '\e975';
}

.icon-information-line:before {
  content: '\e976';
}

.icon-indeterminate-circle-fill:before {
  content: '\e977';
}

.icon-more-2-fill:before {
  content: '\e978';
}

.icon-loader-line:before {
  content: '\e979';
}

.icon-lock-unlock-fill:before {
  content: '\e97a';
}

.icon-more-2-line:before {
  content: '\e97b';
}

.icon-menu-fold-line:before {
  content: '\e97c';
}

.icon-menu-unfold-line:before {
  content: '\e97d';
}

.icon-menu-fold-fill:before {
  content: '\e97e';
}

.icon-menu-line:before {
  content: '\e97f';
}

.icon-more-line:before {
  content: '\e980';
}

.icon-more-fill:before {
  content: '\e981';
}

.icon-question-line:before {
  content: '\e982';
}

.icon-share-box-line:before {
  content: '\e983';
}

.icon-refresh-fill:before {
  content: '\e984';
}

.icon-question-fill:before {
  content: '\e985';
}

.icon-settings-line:before {
  content: '\e986';
}

.icon-search-fill:before {
  content: '\e987';
}

.icon-settings-fill:before {
  content: '\e988';
}

.icon-time-line:before {
  content: '\e989';
}

.icon-upload-cloud-fill:before {
  content: '\e98a';
}

.icon-refresh-line:before {
  content: '\e98b';
}

.icon-search-line:before {
  content: '\e98c';
}

.icon-upload-2-line:before {
  content: '\e98d';
}

.icon-menu-unfold-fill:before {
  content: '\e98e';
}

.icon-subtract-line:before {
  content: '\e98f';
}

.icon-star-line:before {
  content: '\e990';
}

.icon-share-line:before {
  content: '\e991';
}

.icon-time-fill:before {
  content: '\e992';
}

.icon-star-fill:before {
  content: '\e993';
}

.icon-zoom-out-line:before {
  content: '\e994';
}

.icon-zoom-in-line:before {
  content: '\e995';
}

.icon-upload-cloud-line:before {
  content: '\e996';
}

.icon-zoom-in-fill:before {
  content: '\e997';
}

.icon-share-fill:before {
  content: '\e998';
}

.icon-zoom-out-fill:before {
  content: '\e999';
}

.icon-lock-unlock-line:before {
  content: '\e99a';
}

.icon-check-line:before {
  content: '\e955';
}

.icon-add-line:before {
  content: '\e956';
}

.icon-add-circle-fill:before {
  content: '\e957';
}

.icon-close-line:before {
  content: '\e958';
}

.icon-equalizer-line:before {
  content: '\e935';
}

.icon-camera-line:before {
  content: '\e936';
}

.icon-equalizer-fill:before {
  content: '\e937';
}

.icon-headphone-line:before {
  content: '\e938';
}

.icon-image-fill:before {
  content: '\e939';
}

.icon-image-line:before {
  content: '\e93a';
}

.icon-live-line:before {
  content: '\e93b';
}

.icon-live-fill:before {
  content: '\e93c';
}

.icon-camera-fill:before {
  content: '\e93d';
}

.icon-play-fill:before {
  content: '\e93e';
}

.icon-notification-off-fill:before {
  content: '\e93f';
}

.icon-notification-line:before {
  content: '\e940';
}

.icon-memories-line:before {
  content: '\e941';
}

.icon-pause-line:before {
  content: '\e942';
}

.icon-notification-fill:before {
  content: '\e943';
}

.icon-shuffle-line:before {
  content: '\e944';
}

.icon-skip-forward-fill:before {
  content: '\e945';
}

.icon-stop-circle-line:before {
  content: '\e946';
}

.icon-skip-back-fill:before {
  content: '\e947';
}

.icon-skip-forward-line:before {
  content: '\e948';
}

.icon-notification-off-line:before {
  content: '\e949';
}

.icon-stop-circle-fill:before {
  content: '\e94a';
}

.icon-stop-line:before {
  content: '\e94b';
}

.icon-play-line:before {
  content: '\e94c';
}

.icon-stop-fill:before {
  content: '\e94d';
}

.icon-skip-back-line:before {
  content: '\e94e';
}

.icon-group-line:before {
  content: '\e94f';
}

.icon-group-fill:before {
  content: '\e950';
}

.icon-team-fill:before {
  content: '\e951';
}

.icon-user-fill:before {
  content: '\e952';
}

.icon-user-line:before {
  content: '\e953';
}

.icon-team-line:before {
  content: '\e954';
}

.icon-link-m:before {
  content: '\e924';
}

.icon-list-unordered:before {
  content: '\e925';
}

.icon-code-view:before {
  content: '\e926';
}

.icon-organization-chart:before {
  content: '\e927';
}

.icon-mind-map:before {
  content: '\e928';
}

.icon-link-unlink-m:before {
  content: '\e929';
}

.icon-map-pin-line:before {
  content: '\e92a';
}

.icon-map-pin-fill:before {
  content: '\e92b';
}

.icon-map-pin-time-line:before {
  content: '\e92c';
}

.icon-map-pin-user-fill:before {
  content: '\e92d';
}

.icon-map-pin-time-fill:before {
  content: '\e92e';
}

.icon-pushpin-line:before {
  content: '\e92f';
}

.icon-pushpin-fill:before {
  content: '\e930';
}

.icon-map-pin-user-line:before {
  content: '\e931';
}

.icon-road-map-fill:before {
  content: '\e932';
}

.icon-road-map-line:before {
  content: '\e933';
}

.icon-restart-line:before {
  content: '\e934';
}

.icon-edit-fill:before {
  content: '\e910';
}

.icon-pencil-ruler-2-fill:before {
  content: '\e911';
}

.icon-edit-line:before {
  content: '\e912';
}

.icon-pencil-ruler-2-line:before {
  content: '\e913';
}

.icon-file-code-line:before {
  content: '\e914';
}

.icon-draft-fill:before {
  content: '\e915';
}

.icon-file-fill:before {
  content: '\e916';
}

.icon-numbers-fill:before {
  content: '\e917';
}

.icon-file-copy-line:before {
  content: '\e918';
}

.icon-file-gif-line:before {
  content: '\e919';
}

.icon-file-gif-fill:before {
  content: '\e91a';
}

.icon-numbers-line:before {
  content: '\e91b';
}

.icon-file-code-fill:before {
  content: '\e91c';
}

.icon-draft-line:before {
  content: '\e91d';
}

.icon-file-line:before {
  content: '\e91e';
}

.icon-file-mark-line:before {
  content: '\e91f';
}

.icon-file-copy-fill:before {
  content: '\e920';
}

.icon-file-mark-fill:before {
  content: '\e921';
}

.icon-file-user-fill:before {
  content: '\e922';
}

.icon-file-user-line:before {
  content: '\e923';
}

.icon-chat-history-line:before {
  content: '\e908';
}

.icon-message-3-fill:before {
  content: '\e909';
}

.icon-discuss-line:before {
  content: '\e90a';
}

.icon-message-3-line:before {
  content: '\e90b';
}

.icon-speak-fill:before {
  content: '\e90c';
}

.icon-chat-history-fill:before {
  content: '\e90d';
}

.icon-speak-line:before {
  content: '\e90e';
}

.icon-discuss-fill:before {
  content: '\e90f';
}

.icon-calendar-line:before {
  content: '\e8fa';
}

.icon-customer-service-2-line:before {
  content: '\e8fb';
}

.icon-customer-service-2-fill:before {
  content: '\e8fc';
}

.icon-calendar-fill:before {
  content: '\e8fd';
}

.icon-mail-line:before {
  content: '\e8fe';
}

.icon-mail-fill:before {
  content: '\e8ff';
}

.icon-pie-chart-fill:before {
  content: '\e900';
}

.icon-stack-fill:before {
  content: '\e901';
}

.icon-profile-fill:before {
  content: '\e902';
}

.icon-line-chart-line:before {
  content: '\e903';
}

.icon-pie-chart-line:before {
  content: '\e904';
}

.icon-profile-line:before {
  content: '\e905';
}

.icon-stack-line:before {
  content: '\e906';
}

.icon-line-chart-fill:before {
  content: '\e907';
}

.icon-home-5-line:before {
  content: '\e8f4';
}

.icon-home-5-fill:before {
  content: '\e8f5';
}

.icon-building-fill:before {
  content: '\e8f6';
}

.icon-school-fill:before {
  content: '\e8f7';
}

.icon-building-line:before {
  content: '\e8f8';
}

.icon-school-line:before {
  content: '\e8f9';
}

.icon-arrow-down-line:before {
  content: '\e8f0';
}

.icon-arrow-left-line:before {
  content: '\e8f1';
}

.icon-arrow-right-line:before {
  content: '\e8f2';
}

.icon-arrow-up-line:before {
  content: '\e8f3';
}

.icon-arrow-drop-left-line:before {
  content: '\e8c2';
}

.icon-arrow-down-s-fill:before {
  content: '\e8c3';
}

.icon-arrow-down-double-line:before {
  content: '\e8c4';
}

.icon-arrow-down-s-line:before {
  content: '\e8c5';
}

.icon-arrow-down-circle-line:before {
  content: '\e8c6';
}

.icon-arrow-down-circle-fill:before {
  content: '\e8c7';
}

.icon-arrow-drop-right-line:before {
  content: '\e8c8';
}

.icon-arrow-left-circle-fill:before {
  content: '\e8c9';
}

.icon-arrow-right-s-line:before {
  content: '\e8ca';
}

.icon-arrow-right-circle-line:before {
  content: '\e8cb';
}

.icon-arrow-left-s-line:before {
  content: '\e8cc';
}

.icon-arrow-up-circle-fill:before {
  content: '\e8cd';
}

.icon-arrow-drop-left-fill:before {
  content: '\e8ce';
}

.icon-arrow-drop-right-fill:before {
  content: '\e8cf';
}

.icon-arrow-left-s-fill:before {
  content: '\e8d0';
}

.icon-arrow-drop-down-fill:before {
  content: '\e8d1';
}

.icon-arrow-right-circle-fill:before {
  content: '\e8d2';
}

.icon-arrow-drop-down-line:before {
  content: '\e8d3';
}

.icon-arrow-right-s-fill:before {
  content: '\e8d4';
}

.icon-skip-left-line:before {
  content: '\e8d5';
}

.icon-skip-up-line:before {
  content: '\e8d6';
}

.icon-skip-down-line:before {
  content: '\e8d7';
}

.icon-expand-up-down-line:before {
  content: '\e8d8';
}

.icon-arrow-up-double-line:before {
  content: '\e8d9';
}

.icon-expand-left-right-fill:before {
  content: '\e8da';
}

.icon-arrow-left-circle-line:before {
  content: '\e8db';
}

.icon-arrow-drop-up-fill:before {
  content: '\e8dc';
}

.icon-skip-up-fill:before {
  content: '\e8dd';
}

.icon-arrow-up-down-line:before {
  content: '\e8de';
}

.icon-arrow-right-double-line:before {
  content: '\e8df';
}

.icon-skip-down-fill:before {
  content: '\e8e0';
}

.icon-skip-right-line:before {
  content: '\e8e1';
}

.icon-arrow-up-s-fill:before {
  content: '\e8e2';
}

.icon-arrow-up-s-line:before {
  content: '\e8e3';
}

.icon-drag-move-2-line:before {
  content: '\e8e4';
}

.icon-arrow-drop-up-line:before {
  content: '\e8e5';
}

.icon-skip-left-fill:before {
  content: '\e8e6';
}

.icon-expand-left-right-line:before {
  content: '\e8e7';
}

.icon-skip-right-fill:before {
  content: '\e8e8';
}

.icon-arrow-left-right-line:before {
  content: '\e8e9';
}

.icon-expand-up-down-fill:before {
  content: '\e8ea';
}

.icon-arrow-up-circle-line:before {
  content: '\e8eb';
}

.icon-drag-move-2-fill:before {
  content: '\e8ec';
}

.icon-arrow-up-down-fill:before {
  content: '\e8ed';
}

.icon-arrow-left-right-fill:before {
  content: '\e8ee';
}

.icon-arrow-left-double-line:before {
  content: '\e8ef';
}
